<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @agencia.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @agencia.direccion %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @agencia.nit %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @agencia.telefono %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @agencia.estado %>
</p>

<p>
  <strong>Nombre director:</strong>
  <%= @agencia.nombre_director %>
</p>

<%= link_to 'Edit', edit_agencia_path(@agencia) %> |
<%= link_to 'Back', agencias_path %>
